<div class="container">

  <div class="row heading">
    <div class="col-md-12">
      <h1>About</h1>
      <h4>Looking to explore this site?</h4>
      <p>Blocipedia is a wiki app that renders in markdown and is designed for user collaboration.</p>
      <p>Sign up for an account or use the information below to explore.</p>
    </div>
  </div>

  <div class="row" id="dummy">
    <div class="col-md-6">
      <h4>Dummy Credit Card Info</h4>
      <p>Used to Upgrade Standard Account</p>
      <ul>
        <li>Card Number: 4242 4242 4242 4242</li>
        <li>Fill in the other information with any numbers</li>
      </ul>
      <br>
    </div>
  </div>
</div>
