<% if current_user.admin? || current_user.premium? %>
  <div class="form-group">
    <%= wiki.label :private, class: 'checkbox' do %>
      <%= wiki.check_box :private %> Private wiki
    <% end %>
  </div>
<% end %>
